<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are my previous projects</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="http://itsbetter.com" target="_blank">http://itsbetter.com</a></span> - <span class="project-tagline"></span>
                    <span class="project-title">
                        site for online sale and purchase of goods. Search for suppliers, manufacturers and wholesalers. SEO sites.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://agentrb.ru" target="_blank">http://agentrb.ru</a></span> - <span class="project-tagline"></span>
                    <span>site for online sale and purchase of goods. Search for suppliers, manufacturers and wholesalers. SEO sites.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://edu-vienna.com" target="_blank">http://edu-vienna.com</a></span> - <span class="project-tagline"></span>
                    <span>Higher education institutions in Vienna, Australia. Assistance in preparing the necessary documents, advice.</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="http://foodyclub.rs" target="_blank">http://foodyclub.rs/</a></span> - <span class="project-tagline"></span>
                    <span>
                        Online ordering and delivery of products in several cities of Serbia (Belgrade, Novi Sad, Niz, Sabotika, Pancevo).
                    </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="http://www.modaprint.ru" target="_blank">http://www.modaprint.ru/</a></span> - <span class="project-tagline"></span>
                    <span>
                        Ordering and delivery of various covers (for passports, driver's licenses, student cards, etc.). With the help of the cover designer, you can create covers with your own design.
                    </span>
                </div><!--//item-->
            </section><!--//section-->