<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are my previous projects</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">http://itsbetter.com</a></span> - <span class="project-tagline"></span>
                    <span class="project-title">
                        Сайт для онлайн продажи и покупки товаров. Поиск поставщиков, производителей и оптовиков. СЕО сайтов.
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">http://agentrb.ru</a></span> - <span class="project-tagline"></span>
                    <span>Покупка, продажа, аренад недвижимости в городе Стерлитамак,  Республикa Башкортостан, Россия</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">http://edu-vienna.com</a></span> - <span class="project-tagline"></span>
                    <span>Вузы для поступления в городе Вена, Австрая. Помощь в подготове необходимых документов, советы, консультации.</span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">http://foodyclub.rs/</a></span> - <span class="project-tagline"></span>
                    <span>
                        Онлайн заказ и доставка продуктов в нескольких городах Сербии(Белград, Нови сад, Низ, Саботика, Панчево).
                    </span>
                </div><!--//item-->
				<div class="item">
                    <span class="project-title"><a href="#" target="_blank">http://www.modaprint.ru/</a></span> - <span class="project-tagline"></span>
                    <span>
                        Заказ и доставка различных обложек(для паспортов, водительских прав, студенческих билетов и т.п). С помощью онлайт конструктора обложек
                        можно создавать обложки с собственным дизайном.
                    </span>
                </div><!--//item-->
            </section><!--//section-->